<template>
  <div id="app">
    <div v-for="(row, i) in rows" :key="'row' + i">
      <span v-for="(cell, j) in row" :key="'cell' + i +''+ j">
        <label :for="i+''+j" v-html="getLabel(i,j)"></label>
        <input v-model="rows[i][j]" type="text" :id="i+''+j">
        <span class="tab"></span>
      </span>
    </div>
    <button @click="calculate">Licz</button>
    <div v-html="value"></div>
    {{rows}}
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { interpolate } from "./lib.js";
import * as _ from "lodash";

@Component({
  components: {}
})
export default class App extends Vue {
  rows: number[][] = [];
  value = "";

  mounted() {
    // const nodes = Number(prompt('Podaj ilosc wezlow'));
    const nodes = 4;
    for (let i = 0; i < nodes; i++) {
      this.rows[i] = [0, 0];
    }
    // rebind
    this.rows = this.rows.slice();
  }

  getLabel(i: number, j: number) {
    if (j === 0) {
      return `x <sub>${i}</sub>`;
    }

    if (j === 1) {
      return `f[x<sub>${i}</sub>]`;
    }
  }

  calculate() {
    for (let i = 1; i < this.rows.length; i++) {
      // sprawdz czy napewno dobre j startowe
      for (let j = 2; j <= i + 1; j++) {
        this.rows[i][j] =
          (Number(this.rows[i][j - 1]) - Number(this.rows[i - 1][j - 1])) /
          (Number(this.rows[i][0]) - Number(this.rows[i - 1][0]));
      }
    }
    this.rows = this.rows.slice();
    this.bindValue();
  }

  bindValue() {
    const firstColumn = this.rows.map(r => Number(r[0]));
    console.log(firstColumn);
    const secondColumn = this.rows.map(r => Number(r[1]));
    console.log(secondColumn);
    this.value = interpolate(firstColumn, secondColumn).pstr;
    // for (let i = 0; i < this.rows.length; i++) {
    //   this.value += this.rows[i][this.rows[i].length - 1];
    //   for (let j = 0; j < i; j++) {
    //     this.value += `(x +1)`;
    //   }
    //   if (i !== this.rows.length - 1) {
    //     this.value += "+";
    //   }
    // }
  }
}
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #2c3e50;
  margin-top: 60px;
}
.tab {
  margin-right: 10px;
}
</style>
