<template>
  <div id="app">
    <p>
      Stopien wielomianu:
      <b></b>
      <input type="number" v-model="max_n" v-on:input="getN" max="1000" min="0">
    </p>
    <hr>
    <form @submit.prevent="licz">
      <div
        class="container"
        v-for="(wspolczynnik, index) in wspolczynniki"
        :key="wspolczynnik.level"
      >
        <span class="plus" v-if="index !=0">&nbsp;+&nbsp;</span>
        <div class="group">
          <input v-model="wspolczynnik.val" type="number" value="0">
          <span v-if="index != wspolczynniki.length - 1">
            x
            <sup>{{wspolczynnik.level}}</sup>
          </span>
        </div>
      </div>&nbsp;:&nbsp;
      <span>
        (x -
        <input v-model="dzielnik" type="number">)
      </span>
      <br>
      <br>
      <button type="submit">Licz</button>
    </form>
    <div v-if="wyniki">
      <span v-for="(wynik, index) in wyniki" :key="index">
        {{wynik}}
        <span v-if="wyniki.length - index-2 >= 0">x</span>
        <sup v-if="wyniki.length - index-2 > 0">{{wyniki.length - index-2}}</sup>
        {{wynik >= 0 && index+1 !== wyniki.length ? '+' : '' }}
      </span>
    </div>
  </div>
</template>

<script>
export default {
  name: "app",
  data: function() {
    return {
      max_n: 0,
      wspolczynniki: [],
      dzielnik: 0,
      wyniki: []
    };
  },
  methods: {
    getN() {
      this.max_n = Number(this.max_n);
      this.wspolczynniki = new Array(this.max_n + 1).fill(0);
      this.wspolczynniki = this.wspolczynniki.map((val, i) => {
        return { level: this.wspolczynniki.length - i - 1, val: 0 };
      });
    },
    licz() {
      const wynik = [];
      wynik[0] = Number(this.wspolczynniki[0].val);
      for (let i = 1; i < this.wspolczynniki.length; i++) {
        wynik[i] =
          wynik[i - 1] * Number(this.dzielnik) +
          Number(this.wspolczynniki[i].val);
      }
      this.wyniki = wynik;
    }
  },
  beforeMount() {
    this.getN();
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  font-size: 1.5em;
}

input {
  border: none;
  max-width: 60px;
  color: red;
  font-weight: 800;
  font-size: 20px;
}

.container {
  display: inline;
}

.plus {
  margin-right: 30px;
  margin-left: 30px;
}

.group {
  border-bottom: 1px dashed black;
  padding: 2px;
  display: inline;
}

button {
  border: 1px solid black;
  background: transparent;
  font-size: 1em;
  padding: 0.5em 1em;
  border-radius: 0.5em;
}
</style>
