<template>
  <div id="app">
    <div>
      <div class="row" v-for="(_, node) in nodes" :key="node">
        <label>
          x
          <sub>{{node}}</sub>
        </label>
        <input :id="'x' + node" type="text" v-model="xs[node]">
        <span>&nbsp;</span>
        <label>
          f[x
          <sub>{{node}}</sub>]
        </label>
        <input :id="'f' + node" type="text" v-model="fx[node]">
      </div>
    </div>
    <button @click="compute()">LICZ</button>
    <div v-html="results"></div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { interpolate } from "./lib.js";

@Component({})
export default class App extends Vue {
  nodes = 0;
  xs: number[] = [];
  fx: number[] = [];
  results: string = "";

  mounted() {
    this.nodes = Number(prompt("Ile wezlow?"));
    this.xs = new Array(this.nodes).fill(0);
    this.fx = new Array(this.nodes).fill(0);
  }

  compute() {
    this.results = this.format(interpolate(this.xs, this.fx).pstr);
  }

  format(value: string): string {
    return value
      .replace(/ /g, "")
      .replace(/--/g, "+")
      .replace(/\+-/g, "-");
  }
}
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
